<%= form_for(profile, html: { multipart: true })  do |f| %>
  <div class="box-body">

    <% if profile.errors.any? %>
        <%= render 'shared/errors', object: profile %>
    <% end %>

    <div class="form-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>

    <div class="form-group">
      <%= f.label :cover_image %>
      <%= f.file_field :cover_image %>
    </div>

    <div class="form-group">
      <div class="radio-inline">
        <%= f.radio_button(:gender, 'Female') %>
        <%= f.label :gender_female %>
      </div>

      <div class="radio-inline">
        <%= f.radio_button(:gender, 'Male') %>
        <%= f.label :gender_male %>
      </div>

      <div class="radio-inline">
        <%= f.radio_button(:gender, 'Other') %>
        <%= f.label :gender_other %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :about %>
      <%= md_simple_editor  do %>
        <%= f.text_area :about, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :credo %>
      <%= f.text_area :credo, class: 'form-control' %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
