<div class="row">
  <div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-black" style="background: url('<%=
        if profile.cover_image?
          profile.cover_image.url('original')
        else
          image_path('skins/original_cover_image_missing.jpg')
        end
       %>') center center;">
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <span class="description-text"><%= t('profiles.created_at') %></span>
              <h5 class="description-header">
                <%= I18n.l profile.user.created_at, format: ('%B %d, %Y') %>
              </h5>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <span class="description-text"><%= t 'profiles.count_events' %></span>
              <h5 class="description-header"><%= profile.user.events_count %></h5>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-3">
            <div class="description-block">
              <span class="description-text"><%= t 'profiles.count_memberships' %></span>
              <h5 class="description-header"><%= profile.user.event_memberships_count %></h5>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.widget-user -->

  </div>
</div>


<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <%= image_tag(profile.photo.url('medium'), class: 'img-circle profile-user-img img-responsive', alt: 'User Avatar') %>
        <h3 class="profile-username text-center"><%= profile.firstname %> <%= profile.lastname %></h3>
        <p class="text-muted text-center"><%= t('events.rate_members.language_level') %></p>
        <% if can? :update, profile %>
            <%= link_to "#{t('edit')} #{t('profiles.profile')}", edit_profile_path(profile), class: 'btn btn-primary btn-block' %>
            <%= link_to t('devise.passwords.edit.change_my_password',), edit_user_registration_path, class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
      <!-- /.box-body -->
    </div>
  </div>

  <div class="col-md-9">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><%= t'profiles.profile' %></a></li>
        <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true"><%= t'profiles.activity' %></a></li>
        <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true"><%= t'profiles.progress_chart' %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <dl class="dl-horizontal">
            <dt><%= t'profiles.firstname' %> :</dt>
            <dd><%= profile.firstname %></dd>

            <dt><%= t'profiles.lastname' %> :</dt>
            <dd><%= profile.lastname %></dd>

            <dt><%= t'profiles.gender' %> :</dt>
            <dd><%= profile.gender %></dd>

            <dt><%= t'profiles.about' %> :</dt>
            <dd><%= markdown(profile.about) if profile.about %></dd>

            <dt><%= t'profiles.credo' %> :</dt>
            <dd><%= profile.credo %></dd>
          </dl>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
          <% if activitie %>
              <% activitie.each do |activity| %>
                  <%= render_activity activity %>
              <% end %>
          <% end %>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
          <%
            data = {
                labels: @r_labels,
                datasets: [
                    {
                        label: t('events.rate_members.language_level'),
                        backgroundColor: "rgba(220,220,220,0.2)",
                        borderColor: "rgba(220,220,220,1)",
                        data: @r_lang_lvl
                    },
                    {
                        label: t('events.rate_members.activity_level'),
                        backgroundColor: "rgba(151,187,205,0.2)",
                        borderColor: "rgba(151,187,205,1)",
                        data: @r_activity_lvl
                    }
                ]
            }

            options = {
                id: 'ratingChart',
                height: '200'
            }
          %>
          <%= line_chart  data, options %>
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->

  </div><!--/.col-md-9-->
</div><!--/.row-->