<div class="row">
  <div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header bg-black" style="background: url('<%=
        if @profile.cover_image?
          @profile.cover_image.url('original')
        else
          image_path('skins/original_cover_image_missing.jpg')
        end
       %>') center center;">
        <h3 class="widget-user-username"><%= @profile.firstname %> <%= @profile.lastname %></h3>
        <h5 class="widget-user-desc"><%= @profile.user.email %></h5>
      </div>
      <div class="widget-user-image">
        <%= image_tag(@profile.photo.url('medium'), class: "img-circle", alt: 'User Avatar') %>
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <span class="description-text">Created at</span>
              <h5 class="description-header"><%= @profile.user.created_at.strftime('%B %d, %Y') %></h5>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <span class="description-text">Events</span>
              <h5 class="description-header">13,000</h5>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">35</h5>
              <span class="description-text">PRODUCTS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <!-- /.widget-user -->

  </div>
</div>


<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Profile</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <span class="label label-primary">Label</span>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">


    <p>
      <strong>Firstname:</strong>
      <%= @profile.firstname %>
    </p>

    <p>
      <strong>Lastname:</strong>
      <%= @profile.lastname %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @profile.gender %>
    </p>

    <p>
      <strong>Credo:</strong>
      <%= @profile.credo %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @profile.user.email %>
    </p>


  </div><!-- /.box-body -->
  <div class="box-footer">
    <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-primary' %>
  </div><!-- box-footer -->
</div><!-- /.box -->