<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path do %>
        ok<b>go</b>
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Resend confirmation instructions</p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group has-feedback">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    <% end %>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->
    <%= render "devise/shared/links" %>
  </div>
  <!-- /.login-box-body -->
</div>