<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path do %>
        ok<b>go</b>
    <% end %>
  </div>
  <script type="application/javascript" >
    $(function() {
      enable_cb();
      $("#editemail").click(enable_cb);
    });

    function enable_cb() {
      if (this.checked) {
        $("input.edit_email").removeAttr("disabled");
      } else {
        $("input.edit_email").attr("disabled", true);
      }
    }

  </script>
  <!-- /.login-logo -->
  <div class="login-box-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field form-group has-feedback">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', disabled: true, autofocus: true %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group has-feedback">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> <%= t'devise.characters_minimum' %></em>
        <% end %>
        <i>(<%= t'.leave_blank_if_you_don_t_want_to_change_it' %>)</i>
      </div>

      <div class="field form-group has-feedback">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>

      <div class="field form-group has-feedback">
        <%= f.label :current_password %> <br />
        <%= f.password_field :current_password, class: 'form-control', autoc1omplete: "off" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <i>(<%= t'.we_need_your_current_password_to_confirm_your_changes' %>)</i>
      </div>

      <div class="actions">
        <%= f.submit t('devise.passwords.edit.change_my_password'), class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    <% end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default btn-flat'  %></p>-->

<%= link_to "Back", :back %>
  </div>
  <!-- /.login-box-body -->
</div>