<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path do %>
      ok<b>go</b>
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= f.fields_for :profile do |profile_form| %>
            <div class="field form-group has-feedback">
              <%= profile_form.label :firstname %><br />
              <%= profile_form.text_field :firstname, placeholder: 'Firstname', class: 'form-control' %>
            </div>

            <div class="field form-group has-feedback">
              <%= profile_form.label :lastname %><br />
              <%= profile_form.text_field :lastname, placeholder: 'Lastname', class: 'form-control' %>
            </div>

            <div class="radio-inline">
              <%= profile_form.radio_button(:gender, 'Female') %>
              <%= profile_form.label :gender_female, 'Female' %>
            </div>

            <div class="radio-inline">
              <%= profile_form.radio_button(:gender, 'Male') %>
              <%= profile_form.label :gender_male, 'Male' %>
            </div>

            <div class="radio-inline">
              <%= profile_form.radio_button(:gender, 'Other') %>
              <%= profile_form.label :gender_other, 'Other' %>
            </div>
        <% end %>

        <div class="field form-group has-feedback">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
        </div>

        <div class="field form-group has-feedback">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: "off" %>
        </div>

        <div class="field form-group has-feedback">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password confirmation', autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary btn-block btn-flat' %>
        </div>
    <% end %>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    <!-- /.social-auth-links -->
    <%= render "devise/shared/links" %>
  </div>
  <!-- /.login-box-body -->
</div>