<div class="login-box">
  <div class="login-logo">
    <%= link_to root_path do %>
      ok<b>go</b>
    <% end %>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"><%= t('devise.sign_in_to_start_your_session') %></p>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <%= f.fields_for :profile do |profile_form| %>
            <div class="field form-group has-feedback">
              <%= profile_form.label :firstname %><br />
              <%= profile_form.text_field :firstname, placeholder: true, class: 'form-control' %>
            </div>

            <div class="field form-group has-feedback">
              <%= profile_form.label :lastname %><br />
              <%= profile_form.text_field :lastname, placeholder: true, class: 'form-control' %>
            </div>

            <div class="radio-inline">
              <%= profile_form.radio_button(:gender, 'Female') %>
              <%= profile_form.label :gender_female %>
            </div>

            <div class="radio-inline">
              <%= profile_form.radio_button(:gender, 'Male') %>
              <%= profile_form.label :gender_male %>
            </div>

            <div class="radio-inline">
              <%= profile_form.radio_button(:gender, 'Other') %>
              <%= profile_form.label :gender_other %>
            </div>
        <% end %>

        <div class="field form-group has-feedback">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', placeholder: true, autofocus: true %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="field form-group has-feedback">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control', placeholder: true, autocomplete: "off" %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <% if @minimum_password_length %>
              <p class="help-block">
                <em>(<%= @minimum_password_length %> <%= t('devise.characters_minimum') %>)</em>
              </p>
          <% end %>
        </div>

        <div class="field form-group has-feedback">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: true, autocomplete: "off" %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <p class="text-sm text-gray">
          <%= t'devise.by_clicking_sign_up_you_agree_to_our_terms' %> <%= link_to I18n.t('legal.user_agreement'), page_path('user_agreement') %>.
        </p>

        <div class="actions">
          <%= f.submit t('.sign_up'), class: 'btn btn-primary btn-block btn-flat' %>
        </div>
    <% end %>


    <!-- /.social-auth-links -->
    <%= render "devise/shared/links" %>
  </div>
  <!-- /.login-box-body -->
</div>