<div class="box-comment">
  <%= link_to profile_path(comment.user.profile) do %>
      <% if comment.user.profile.photo?  %>
          <%= image_tag(comment.user.profile.photo.url('medium'),
                        class: "img-circle img-sm",
                        alt: "#{comment.user.profile.firstname} #{comment.user.profile.lastname}",
                        data: { toggle: 'tooltip', original_title: "#{comment.user.profile.firstname} #{comment.user.profile.lastname}" }
              )
          %>
      <% else %>
          <%= image_tag('medium_missing.png', class: "img-circle img-sm", alt: "#{comment.user.profile.firstname} #{comment.user.profile.lastname}"
              )
          %>
      <% end %>
  <% end %>

  <div class="comment-text">
    <span class="username">
      <%= comment.user.profile.firstname %> <%= comment.user.profile.lastname %>
      <span class="text-muted pull-right" style="padding: 6px"></span>
      <div class="box-tools pull-right">
        <span class="text-muted" ><%= time_ago_in_words(comment.created_at) %></span>
        <% if can? :destroy, comment %>
          <%= link_to [commentable, comment], method: :delete, format: :json,  class: "btn btn-box-tool destroy_comment", remote: true, data: { confirm: t('are_you_sure')} do %>
            <i class="fa fa-times"></i>
          <% end %>
        <% end %>
      </div>
    </span>
    <%= comment.body %>
  </div>
</div>