<%= form_for(language, html: { multipart: true }) do |f| %>
  <div class="box-body">

    <% if language.errors.any? %>
        <%= render 'shared/errors', object: language %>
    <% end %>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :flag_image %>
      <%= f.file_field :flag_image %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
