<div class="row">
  <div class="col-md-6">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Language</h3>
      </div>
      <div class="box-body">
        <dl class="dl-horizontal">
          <dt>Description:</dt>
            <dd><%= @language.description %></dd>

          <dt>Micro image:</dt>
            <dd><%= image_tag(@language.flag_image.url(:micro)) if @language.flag_image? %></dd>

          <dt>Small:</dt>
            <dd><%= image_tag(@language.flag_image.url(:small)) if @language.flag_image? %></dd>


          <dt>Medium:</dt>
            <dd><%= image_tag(@language.flag_image.url(:medium)) if @language.flag_image? %></dd>


          <dt>Original:</dt>
            <dd><%= image_tag(@language.flag_image.url(:original)) if @language.flag_image? %></dd>

        </dl>
      </div>
      <div class="box-footer">
        <%= link_to t('edit'), edit_language_path(@language) %> |
        <%= link_to t('back'), languages_path %>
      </div>
    </div>
  </div>
</div>