<header class="main-header">
  <!-- Logo -->
  <%= link_to root_path, class: 'logo' do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">ok<b>go</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">ok<b>go</b>.online</span>
  <% end %>
  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <!-- Messages: style can be found in dropdown.less-->
            <%= #render partial: 'shared/main_header_elements/messages_menu'
            %>
            <!-- /.messages-menu -->
            <!-- Notifications Menu -->
            <%= # render partial: 'shared/main_header_elements/notifications_menu'
            %>
            <!-- Tasks Menu -->
            <%= # render partial: 'shared/main_header_elements/tasks_menu'
            %>
            <!-- User Account Menu -->
            <%= render partial: 'shared/main_header_elements/user_menu' %>
            <!-- Control Sidebar Toggle Button -->
            <!--<li>-->
              <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
            <!--</li>-->
        <% else %>
            <li>
              <%= link_to t('log_in'), new_user_session_path %>
            </li>
        <% end %>
        <li>
          <%= link_to_unless_current("En", { locale: 'en' }) do \
  link_to("Ru", { locale: 'ru' })                 \
  end  %>
        </li>
      </ul>
    </div>
  </nav>
</header>
