<div class="user-block">
  <%= link_to profile_path(event.user.profile) do %>
      <% if event.user.profile.photo?  %>
          <%= image_tag(event.user.profile.photo.url('medium'),
                        class: "img-circle",
                        alt: "#{event.user.profile.firstname} #{event.user.profile.lastname}",
                        data: {
                            toggle: 'tooltip',
                            original_title: "#{event.user.profile.firstname} #{event.user.profile.lastname}"
                        }
              )
          %>
      <% else %>
          <%= image_tag('medium_missing.png',
                        class: "img-circle",
                        alt: "#{event.user.profile.firstname} #{event.user.profile.lastname}"
              )
          %>
      <% end %>
  <% end %>
  <span class="username">
        <%= image_tag(event.language.flag_image.url(:micro), class: 'flag-micro') if  event.language.flag_image? %>
        &nbsp;
        <%= link_to profile_path(event.user.profile) do %>
          <%= event.user.profile.firstname %> <%= event.user.profile.lastname %></a>
        <% end %>
      </span>
  <div class="clearfix"></div>
  <dl class="dl-horizontal description">

    <dt><%= t 'events.event.title' %>: </dt>
    <dd><%= event.title %></dd>

    <dt><%= t 'events.event.language' %>: </dt>
    <dd><%= event.language.description %></dd>

    <dt><%= t 'events.event.max_members' %>: </dt>
    <dd><%= event.max_members %> / <%= event.event_memberships_count %></dd>

    <dt>
      <%= t 'events.event.starts_at' %>:
    </dt>
    <dd>
      <span class="label label-default wday_<%= event.starts_at.wday %>"><%= event.starts_at.strftime('%a') %></span>
      <%= I18n.l event.starts_at, format: ("%b %d") %>,
      <%= t ('events.event.starts_at') %>
      <%= I18n.l event.starts_at, format: ("%H:%M") %>
    </dd>

    <dd><%= (t("comments",count: event.comments_counter)).capitalize %></dd>

  </dl>
</div>
<!-- /.user-block -->