<% if user_signed_in? %>
  <span id="event_like_btn_<%= event.id %>" class="like-btn">
    <%= render partial: 'events/like_btn', locals: {event: event} %>
  </span>
  <span class="event_join_btn_<%= event.id %>">
    <% if current_user.member_of?(event) %>
      <%= link_to leave_event_path(event), class: 'event_participation_btn btn btn-danger', method: :delete, remote: true, data: { type: :json, confirm: t('are_you_sure') } do %>
          <i class="fa fa-user-times"></i> <%= t'events.leave' %>
      <% end %>
    <% else %>
      <%= link_to join_event_path(event), class: 'event_participation_btn btn btn-default', method: :post, remote: true, data: { type: :json } do %>
          <i class="fa fa-user-plus"></i> <%= t'events.join' %>
      <% end %>
    <% end %>
  </span>
<% end %>

<%= link_to members_event_path(event),
            class: 'load_members load_members_#{event.id} btn btn-default',
            remote: true,
            method: :post,
            data: {
                event_id: event.id,
                type: :json
            } do %>
    <i class="fa fa-users"></i> <%= t'events.show_members' %>
<% end %>

<%= link_to_unless_current('<i class="fa fa-map-marker"></i> Посмотреть на карте'.html_safe, event_path(event), class: 'btn btn-default') do

end%>

<span class="pull-right text-muted">
  <%= link_to 'Show', event, class: 'btn btn-xs btn-default' %> |
  <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-xs btn-primary' %> |
  <%= link_to 'Destroy', event, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: t('are_you_sure')} %>
<!--  <%= t('events.likes', count: event.likers(User).count) %> -
  <%= t('events.joined', count: event.memberships.count) %>-->
</span>