<% if user_signed_in? %>
    <span id="event_like_btn_<%= event.id %>" class="like-btn">
      <%= render partial: 'events/like_btn', locals: {event: event} %>
    </span>
    <% if current_user.member_of?(event) %>
      <%= link_to leave_event_path(event), class: 'btn btn-primary', method: :delete, data: { confirm: t('are_you_sure') } do %>
          <i class="fa fa-minus-square-o"></i> <%= t'events.leave' %>
      <% end %>
    <% else %>
      <%= link_to join_event_path(event), class: 'btn btn-default', method: :post do %>
          <i class="fa fa-plus-square-o"></i> <%= t'events.join' %>
      <% end %>
    <% end %>
<% end %>

<span class="pull-right text-muted">
  <%= link_to 'Show', event, class: 'btn btn-xs btn-default' %> |
  <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-xs btn-primary' %> |
  <%= link_to 'Destroy', event, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: t('are_you_sure')} %>
<!--  <%= t('events.likes', count: event.likers(User).count) %> -
  <%= t('events.joined', count: event.memberships.count) %>-->
</span>