<div class="box box-widget">
  <div class="box-header with-border">
    <div class="user-block">
      <%= link_to profile_path(event.user.profile) do %>
          <% if event.user.profile.photo?  %>
              <%= image_tag(event.user.profile.photo.url('medium'), class: "img-circle",  alt: "#{event.user.profile.firstname} #{event.user.profile.lastname}", data: { toggle: 'tooltip', original_title: "#{event.user.profile.firstname} #{event.user.profile.lastname}" }) %>
          <% else %>
              <%= image_tag('medium_missing.png', class: "img-circle", alt: "#{event.user.profile.firstname} #{event.user.profile.lastname}") %>
          <% end %>
      <% end %>
      <span class="username">
                  <%= link_to profile_path(event.user.profile) do %>
                    <%= event.user.profile.firstname %> <%= event.user.profile.lastname %></a>
                  <% end %>
                </span>
      <span class="description"><%= event.starts_at.strftime('%B %d, Starts at %H:%M') %></span>
      <span class="description">Maximum participants: <%= event.max_members %></span>
      <span class="description">Language: <%= event.language.description %></span>
      <span class="description"><%= event.title %></span>
    </div>
    <!-- /.user-block -->
    <div class="box-tools">
      <button class="btn btn-flat btn-sm" style="background: none;">
        <%= image_tag(event.language.flag_image.url(:micro), class: 'flag-micro') if  event.language.flag_image? %>
      </button>
      <button type="button" class="btn btn-sm" data-widget="collapse" style="background: none;"><i class="fa fa-plus"></i>
      </button>
      <button type="button" class="btn btn-sm" data-widget="remove" style="background: none;"><i class="fa fa-times"></i></button>
    </div>
    <!-- /.box-tools -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <!-- post text -->
    <%= markdown(event.description) %>
    <div class="no-padding">
      <ul class="members-list clearfix"> <!-- members list-->
        <% event.memberships.each do |member| %>


            <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <% if member.user.profile.photo?  %>
                  <%= image_tag(member.user.profile.photo.url('medium'),
                                class: "img-circle",
                                alt: member.user.profile.firstname,
                                data: { original_title: member.user.profile.firstname,
                                        toggle: 'tooltip'
                                }) %>
              <% else %>
                  <%= image_tag('medium_missing.png', class: "img-circle", alt: 'User Image') %>
              <% end %>
              <%= link_to profile_path(member.user), class: 'members-list-name' do  %>
                  <%= member.user.profile.firstname %>
              <% end %>
              <span class="members-list-date">Member since <%=  member.user.created_at.strftime('%b %d, %Y') %></span>
            </li>
        <% end %>
      </ul>
      <!-- /.members-list -->
    </div>
    <div class="text-center">
      <a href="javascript:void(0)" class="uppercase">View All members</a>
    </div>
  </div><!-- /.box-body -->
  <!-- /.box-body -->
  <div class="box-footer">
    <%= link_to join_event_path(event), class: 'btn btn-success btn-xs', method: :post do %>
        <i class="fa fa-plus"></i> Join
    <% end %>
    <%= link_to leave_event_path(event), class: 'btn btn-default btn-xs', method: :delete do %>
        <i class="fa fa-plus"></i> Leave
    <% end %>
    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
    <%= link_to 'Show', event %> |
    <%= link_to 'Edit', edit_event_path(event) %> |
    <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
    <span class="pull-right text-muted">
    <%= event.memberships.count %>
      applied - 2 joined
    </span>
  </div>
  <!-- /.box-footer -->
</div>