<% if user_signed_in? %>
  <span id="event_like_btn_<%= event.id %>" class="like-btn">
    <%= render partial: 'events/like_btn', locals: {event: event} %>
  </span>
  <span class="event_join_btn_<%= event.id %>">
    <% if current_user.member_of?(event) %>
      <%= link_to leave_event_path(event), class: 'event_participation_btn btn btn-danger btn-flat', method: :delete, remote: true, data: { type: :json, confirm: t('are_you_sure') } do %>
          <i class="fa fa-user-times"></i> <%= t'events.leave' %>
      <% end %>
    <% else %>
      <%= link_to join_event_path(event), class: 'event_participation_btn btn btn-default btn-flat', method: :post, remote: true, data: { type: :json } do %>
          <i class="fa fa-user-plus"></i> <%= t'events.join' %>
      <% end %>
    <% end %>
  </span>
<% end %>

<%= link_to members_event_path(event),
            class: 'load_members load_members_#{event.id} btn btn-default btn-flat',
            remote: true,
            method: :post,
            data: {
                event_id: event.id,
                type: :json
            } do %>
    <i class="fa fa-users"></i> <%= t'events.show_members' %>
<% end %>

<%= link_to_unless_current("<i class='fa fa-map-marker'></i> #{t('events.show_on_map')}".html_safe, event_path(event), class: 'btn btn-default btn-flat') do

end%>
<% if user_signed_in? && can?(:crud, event) %>
  <span class="pull-right text-muted">
    <%= link_to t('show'), event, class: 'btn btn-xs btn-default btn-flat' %> |
    <%= link_to t('edit'), edit_event_path(event), class: 'btn btn-xs btn-primary btn-flat' %> |
    <%= link_to t('destroy'), event, method: :delete, class: 'btn btn-xs btn-danger btn-flat', data: { confirm: t('are_you_sure')} %>
  </span>
<% end %>