<div class="user-block">
  <span>
        <%= image_tag(event.language.flag_image.url(:micro), class: 'flag-micro') if  event.language.flag_image? %>
        &nbsp
        <%= link_to profile_path(event.user.profile) do %>
          <%= event.user.profile.firstname %> <%= event.user.profile.lastname %></a>
        <% end %>
      </span>
  <span class="description"><%= event.likers_count %> Likes</span>
  <div class="clearfix"></div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="label label-default wday_<%= event.starts_at.wday %>"><%= I18n.l event.starts_at, format: '%a' %></span>
      <%= I18n.l event.starts_at, format: ("%d %b") %>,
      <%= t ('events.event.starts_at') %>
      <%= I18n.l event.starts_at, format: ("%H:%M") %>
    </li>
    <li class="list-group-item"><h4><%= event.title %></h4></li>
    <li class="list-group-item"><i class="fa fa-language" data-original-title='<%= t 'events.event.language' %>' data-toggle="tooltip" ></i>  <%= event.language.description %></li>
    <li class="list-group-item"><i class="fa fa-users" data-original-title='<%= t 'events.event.max_members' %>' data-toggle="tooltip" ></i>  <%= event.event_memberships_count %> / <%= event.max_members %>
    </li>
    <li class="list-group-item"><i class="fa fa-comments" data-original-title='<%= t 'events.event.comments' %>' data-toggle="tooltip" ></i>  <%= (t("comments",count: event.comments_count)).capitalize %></li>
  </ul>
</div>