<div class="row">
  <div class="col-xs-6 col-md-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3><%= @count_events %></h3>
        <p>
          <%= t("events.active_events",count: @count_events) %>
          <abbr title="<%= t'the_counter_is_not_updated_immediately' %>">*</abbr>
        </p>
      </div>
      <div class="icon">
        <i class="fa fa-comments-o"></i>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-md-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= @count_memberships %></h3>
        <p>
          <%= t("events.joined_members",count: @count_memberships) %>
          <abbr title="<%= t'the_counter_is_not_updated_immediately' %>">*</abbr>
        </p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
    </div>
  </div>
</div>
