<%= render 'events/info_boxes' %>
<div class="box box-widget">
  <div class="box-header hidden-xs with-border">
    <% @languages.each do |lang| %>
      <% if lang.events_count > 0 %>
            <div class="btn-group-vertical flag-with-count">
              <button type="button" class="btn btn-default btn-flat"><%= image_tag(lang.flag_image.url(:micro), class: 'flag-micro') if  lang.flag_image? %></button>
              <button type="button" class="btn btn-default btn-flat"><%= lang.events_count %></button>
            </div>
      <% end %>
    <% end %>
    <div class="box-tools pull-right">
      <%= link_to t('events.create_new_event'), new_event_path, class: 'btn-block btn bg-maroon btn-flat', style: 'padding: 24px 33px; font-weight: bolder; font-size: 15px; line-height: 0;' %>
    </div>
  </div>
  <div class="box-header visible-xs with-border">
    <%= link_to t('events.create_new_event'), new_event_path, class: 'btn btn-block bg-maroon btn-flat', style: 'padding: 24px 33px; font-weight: bolder; font-size: 15px; line-height: 0;' %>
  </div>
  <div class="box-footer visible-xs">
    <% @languages.each do |lang| %>
        <% if lang.events_count > 0 %>
            <div class="btn-group-vertical flag-with-count">
              <button type="button" class="btn btn-default btn-flat"><%= image_tag(lang.flag_image.url(:micro), class: 'flag-micro') if  lang.flag_image? %></button>
              <button type="button" class="btn btn-default btn-flat"><%= lang.events_count %></button>
            </div>
        <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- okgo before events -->
  <ins class="adsbygoogle col-xs-12"
       style="display:block;margin-bottom:15px;"
       data-ad-client="ca-pub-5677662134676433"
       data-ad-slot="3129581995"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
    <% @events.each_slice(2) do |events| %>
      <% events.each do |event| %>
        <div class="col-xs-12 col-md-6 event-resizing-div">
          <%= render partial: 'events/event', locals: {event: event}%>
        </div>
      <% end %>
        <div class="clearfix"></div>
    <% end %>
</div>

<%= paginate @events, window: 2 %>
<%= render partial: 'handlebars/members_template' %>


<script type="text/javascript" charset="utf-8">
  $('.event_description').on('click', function(){
    var eventWrapper = $(this).closest('.event-resizing-div');
    eventWrapper.toggleClass('col-md-6', 'col-md-12');
  });
</script>