<%= render 'events/info_boxes' %>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <%= link_to t('events.create_new_event'), new_event_path, class: 'btn btn-sm btn-primary' %>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
</div><!-- /.box -->

<!-- /.timeline-label -->
<% @events.each do |event| %>
    <%= render partial: 'events/event', locals: {event: event}%>
<% end %>

<div class="flickr_pagination">
  <div class="page_info">
    <%= page_entries_info @events %>
  </div>
  <%= will_paginate @events, :container => false  %>
</div>


<%= render partial: 'handlebars/event_like_btn_template' %>
<%= render partial: 'handlebars/members_template' %>
