<%= render 'events/info_boxes' %>
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <%= link_to t('events.create_new_event'), new_event_path, class: 'btn btn-sm btn-primary btn-flat' %>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
</div><!-- /.box -->

<!-- /.timeline-label -->
<% @events.each_slice(2) do |events| %>
  <% events.each do |event| %>
    <div class="col-xs-12 col-md-6 event-resizing-div">
      <%= render partial: 'events/event', locals: {event: event}%>
    </div>
  <% end %>
    <div class="clearfix"></div>
<% end %>
<%= render partial: 'shared/pagination', locals: { object: @event} %>

<%= render partial: 'handlebars/members_template' %>


<script type="text/javascript" charset="utf-8">

  $('.event_description').on('click', function(){
    var eventWrapper = $(this).closest('.event-resizing-div');
    eventWrapper.toggleClass('col-md-6', 'col-md-12');
  });
</script>