<%= render 'events/info_boxes' %>
<div class="box box-widget">
  <div class="box-header hidden-xs with-border">
    <!--<div class="box-footer">-->
    <% @languages.each do |lang| %>
      <% if lang.events_count > 0 %>
            <div class="btn-group-vertical flag-with-count">
              <button type="button" class="btn btn-default btn-flat"><%= image_tag(lang.flag_image.url(:micro), class: 'flag-micro') if  lang.flag_image? %></button>
              <button type="button" class="btn btn-default btn-flat"><%= lang.events_count %></button>
            </div>
      <% end %>
    <% end %>
    <!--</div>-->
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <%= link_to t('events.create_new_event'), new_event_path, class: 'btn btn-primary btn-flat', style: 'padding: 24px 33px; font-size: 15px; line-height: 0;' %>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-header visible-xs with-border">
    <%= link_to t('events.create_new_event'), new_event_path, class: 'btn btn-block btn-primary btn-flat', style: 'padding: 24px 33px; font-size: 15px; line-height: 0;' %>
  </div><!-- /.box-header -->
  <div class="box-footer visible-xs">
    <% @languages.each do |lang| %>
        <% if lang.events_count > 0 %>
            <div class="btn-group-vertical flag-with-count">
              <button type="button" class="btn btn-default btn-flat"><%= image_tag(lang.flag_image.url(:micro), class: 'flag-micro') if  lang.flag_image? %></button>
              <button type="button" class="btn btn-default btn-flat"><%= lang.events_count %></button>
            </div>
        <% end %>
    <% end %>
  </div>
</div><!-- /.box -->

<div class="row">
    <% @events.each_slice(2) do |events| %>
      <% events.each do |event| %>
        <div class="col-xs-12 col-md-6 event-resizing-div">
          <%= render partial: 'events/event', locals: {event: event}%>
        </div>
      <% end %>
        <div class="clearfix"></div>
    <% end %>
</div>

<%= paginate @events, window: 2 %>
<%= render partial: 'handlebars/members_template' %>


<script type="text/javascript" charset="utf-8">
  $('.event_description').on('click', function(){
    var eventWrapper = $(this).closest('.event-resizing-div');
    eventWrapper.toggleClass('col-md-6', 'col-md-12');
  });
</script>