<div class="nav-tabs-custom nav-tabs-memberships">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false"><%= t'event_memberships.past_events' %></a></li>
    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="true"><%= t'event_memberships.future_events' %></a></li>
  </ul>
  <div class="tab-content">
    <!-- /.tab-pane -->
    <div class="tab-pane active" id="tab_1">
      <% if @past_events.present? %>
          <% @past_events.each do |event| %>
              <%= render partial: 'event_memberships/event/as_tutor', locals: {event: event, past_events: true}%>
          <% end %>
      <% end %>
      <%= paginate @past_events, window: 2 %>

    </div>

    <div class="tab-pane" id="tab_2">
      <% if @future_events.present? %>
        <% @future_events.each do |event| %>
            <%= render partial: 'event_memberships/event/as_tutor', locals: {event: event, past_events: true}%>
        <% end %>
      <% end %>
      <%= paginate @future_events, window: 2 %>

    </div>
  </div> <!-- /.tab-content -->
</div> <!-- / .nav-tabs-custom .nav-tabs-memberships -->