<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_membership.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_membership.user %>
</p>

<%= link_to 'Edit', edit_event_membership_path(@event_membership) %> |
<%= link_to 'Back', event_memberships_path %>
