<div class="box box-widget collapsed-box feedback-box">
  <div class="box-header with-border">
    <div class="user-block">
      <%= link_to profile_path(feedback.user.profile) do %>
          <%= show_profile_img(feedback.user, :medium) %>
      <% end %>
      <span class="username"><a href="#"><%= feedback.user.profile.firstname %> <%=feedback.user.profile.lastname %></a></span>
      <span class="description"><%= time_ago_in_words(feedback.created_at) %> | <%= t("comments",count: feedback.comments_count) %> | <%= feedback.likers_count %> likes</span>
    </div>
    <div class="box-tools">
      <% if can?(:crud, feedback) %>
        <%= link_to 'Show', feedback, class:'btn btn-xs btn-default' %>
        <%= link_to 'Edit', edit_feedback_path(feedback), class:'btn btn-xs btn-warning' %>
        <%= link_to 'Destroy', feedback, method: :delete, class:'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } %>
      <% end %>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <p>
      <%= markdown(feedback.feedback) %>
    </p>
  </div>
  <% if user_signed_in?  %>
    <div class="box-footer feedback-btns">
      <span id="feedback_like_btn_<%= feedback.id %>" class="like-btn">
        <%= render partial: 'feedbacks/like_btn', locals: { feedback: feedback } %>
      </span>
    </div>
  <% end %>

  <%= render partial: 'comments/comments', locals: { commentable: feedback } %>

  <div class="overlay hidden">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>