<div id="feedback_<%= feedback.id %>" class="box box-widget feedback-box">
  <div class="box-header with-border">
    <div class="user-block">
      <%= link_to profile_path(feedback.user.profile) do %>
          <%= show_profile_img(feedback.user, :medium) %>
      <% end %>
      <span class="username"><a href="<%= profile_path(feedback.user.profile) %>"><%= feedback.user.profile.firstname %> <%=feedback.user.profile.lastname %></a></span>
      <span class="description"><%= time_ago_in_words(feedback.created_at) %> | <%= t("comments",count: feedback.comments_count) %> | <%= feedback.likers_count %> likes</span>
    </div>
    <div class="box-tools">
      <% if can?(:crud, feedback) %>
        <div class="btn-group hidden-xs">
          <%= link_to edit_feedback_path(feedback), class:'btn btn-xs btn-warning' do %>
            <i class="fa fa-pencil-square-o"></i> <%= t('edit') %>
          <% end %>
          <%= link_to feedback, method: :delete, class:'btn btn-xs btn-danger', data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i> <%= t('destroy') %>
          <% end %>
        </div>
        <div class="btn-group hidden-sm hidden-md hidden-lg">
          <%= link_to edit_feedback_path(feedback), class:'btn btn-sm btn-warning' do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
          <%= link_to feedback, method: :delete, class:'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      <% end %>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    <p>
      <%= markdown(feedback.feedback) %>
    </p>
  </div>
  <% if user_signed_in?  %>
    <div class="box-footer feedback-btns">
      <span id="feedback_like_btn_<%= feedback.id %>" class="like-btn">
        <%= render partial: 'feedbacks/like_btn', locals: { feedback: feedback } %>
      </span>
    </div>
  <% end %>

  <%= render partial: 'comments/comments', locals: { commentable: feedback } %>

  <div class="overlay hidden">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>