<ul class="sidebar-menu">
  <li class="header"><%= t 'sidebar_navigation.navigation' %></li>
  <!-- Optionally, you can add icons to the links -->
  <li class="<%= active_link_to_class(events_path, :active => :inclusive) %>">
    <%= link_to events_path do %>
        <i class="fa fa-calendar"></i> <span><%= t 'sidebar_navigation.events' %></span>
    <% end %>
  </li>
  <% if user_signed_in? %>
    <li class="<%= active_link_to_class(profile_path(current_user.profile), :active => :inclusive) %>" >
      <%= link_to profile_path(current_user.profile) do %>
          <i class="fa fa-user-o"></i> <span><%= t 'sidebar_navigation.my_profile' %></span>
      <% end %>
    </li>
  <% end %>
  <li class="treeview">
    <a href="#"><i class="fa fa-calendar-check-o"></i> <span><%= t 'sidebar_navigation.event_memberships.index' %></span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
<!--      <li class="<%= active_link_to_class(event_memberships_path, :active => :inclusive) %>" >
        <%= link_to event_memberships_path do %>
            <i class="fa fa-calendar-check-o"></i> <span><%= t 'sidebar_navigation.event_memberships' %></span>
        <% end %>
      </li>-->
      <li>
        <%= link_to as_tutor_event_memberships_path do %>
            <i class="fa fa-calendar-check-o"></i> <span><%= t 'sidebar_navigation.event_memberships.as_tutor' %></span>
        <% end %>
      </li>
      <li>
        <%= link_to as_member_event_memberships_path do %>
            <i class="fa fa-calendar-check-o"></i> <span><%= t 'sidebar_navigation.event_memberships.as_member' %></span>
        <% end %>
      </li>
    </ul>
  </li>



  <li class="<%= active_link_to_class(activities_path, :active => :inclusive) %>" >
    <%= link_to activities_path do %>
        <i class="fa fa-hourglass-3"></i> <span><%= t 'sidebar_navigation.activities' %></span>
    <% end %>
  </li>

  <li class="<%= active_link_to_class(feedbacks_path, :active => :inclusive) %>">
    <%= link_to feedbacks_path do %>
        <i class="fa fa-heart-o"></i> <span><%= t 'sidebar_navigation.feedbacks' %></span>
    <% end %>
  </li>

  <% if current_user && current_user.admin? %>
    <li class="<%= active_link_to_class(languages_path, :active => :inclusive) %>" >
      <%= link_to languages_path do %>
          <i class="fa fa-circle-o"></i> <span><%= t 'sidebar_navigation.languages' %></span>
      <% end %>
    </li>
    <li>
      <%= link_to rails_admin_path do %>
          <i class="fa fa-wrench"></i> <span>Admin Panel</span>
      <% end %>
    </li>
  <% end %>
<!--  <li class="treeview">
    <a href="#"><i class="fa fa-circle-o"></i> <span>Multilevel</span>
      <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="#">Link in level 2</a></li>
      <li><a href="#">Link in level 2</a></li>
    </ul>
  </li>-->
</ul>