<div class="no-padding">
  <!-- members list-->
  <% event.memberships.each do |member| %>

      <div class="media">
        <div class="media-left">
          <% if member.user.profile.photo?  %>
              <%= image_tag(member.user.profile.photo.url('medium'),
                            class: "img-circle media-object",
                            alt: member.user.profile.firstname,
                            data: { original_title: member.user.profile.firstname,
                                    toggle: 'tooltip'
                            }
                  )
              %>
          <% else %>
              <%= image_tag('medium_missing.png', class: "img-circle media-object", alt: 'User Image') %>
          <% end %>
        </div>
        <div class="media-body">
          <p class="media-heading">
            <%= link_to profile_path(member.user.profile), class: 'members-list-name', target: '_blank' do  %>
                <%= member.user.profile.firstname %>
            <% end %>
          </p>
          <div id="event-member-attended-<%= member.id %>">
            <p>Пользователь присутствовал на мероприятии?</p>
            <%= link_to 'Yes', member_attended_event_membership_path(member), class: 'btn btn-default member-attended-btn', method: :post, remote: true, data: { type: 'json' } %>
            <%= link_to 'No', member_not_attended_event_membership_path(member), class: 'btn btn-danger member-not-attended-btn', method: :post, remote: true, data: { type: 'json' } %>
          </div>
          <div class="hide" id="event-member-rate-<%= member.id %>">
            <%= form_tag rate_event_membership_path(member),
                         method: :post,
                         class: "submit-rate form-horizontal",
                         remote: true,
                         data:
                             {
                                 format: :json,
                                 id: member.id
                             } do %>
                <div class="rateMessages"></div>
                <div class="form-group">
                  <%= label_tag :language_level, '', class: "col-sm-2 control-label" %>
                  <div class="col-sm-3">
                    <%= number_field_tag :language_level, "", min: 1, max: 100, step: 1, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= label_tag :activity_level, '', class: "col-sm-2 control-label" %>
                  <div class="col-sm-3">
                    <%= number_field_tag :activity_level, "", min: 1, max: 100, step: 1, class: "form-control" %>
                  </div>
                </div>

                <div class="col-sm-offset-2">
                  <%= submit_tag "Rate", class: 'btn btn-primary' %>
                </div>
            <% end %>

            <script type="text/javascript">

            </script>


          </div>
        </div>
      </div>
  <% end %>
  <!-- /.members-list -->
</div>
