<div class="no-padding">
  <% event.memberships.each do |member| %>
      <div class="media">
        <div class="media-left">
          <%= show_profile_img(member.user, 'medium', 'media-object img-responsive center-block') %>
          <p class="text-center">
            <%= link_to profile_path(member.user.profile), target: '_blank' do  %>
                <%= member.user.profile.firstname %>
            <% end %>
          </p>
        </div>
        <div class="media-body">
          <div id="event-member-attended-<%= member.id %>">
            <p>Пользователь присутствовал на мероприятии?</p>
            <%= link_to 'Yes', member_attended_event_membership_path(member), class: 'btn btn-default member-attended-btn', method: :post, remote: true, data: { type: 'json' } %>
            <%= link_to 'No', member_not_attended_event_membership_path(member), class: 'btn btn-danger member-not-attended-btn', method: :post, remote: true, data: { type: 'json' } %>
          </div>
        </div>
      </div>
  <% end %>
</div>
