<div class="box box-widget collapsed-box" id="event-<%= event.id %>"><!--collapsed-box-->
  <div class="box-header with-border">
    <div class="user-block">
      <%= link_to profile_path(event.user.profile) do %>
          <% if event.user.profile.photo?  %>
              <%= image_tag(event.user.profile.photo.url('medium'),
                            class: "img-circle",
                            alt: "#{event.user.profile.firstname} #{event.user.profile.lastname}",
                            data: {
                                toggle: 'tooltip',
                                original_title: "#{event.user.profile.firstname} #{event.user.profile.lastname}"
                            }
                  )
              %>
          <% else %>
              <%= image_tag('medium_missing.png',
                            class: "img-circle",
                            alt: "#{event.user.profile.firstname} #{event.user.profile.lastname}"
                  )
              %>
          <% end %>
      <% end %>
      <span class="username">
        <%= link_to profile_path(event.user.profile) do %>
          <%= event.user.profile.firstname %> <%= event.user.profile.lastname %></a>
        <% end %>
      </span>
      <div class="clearfix"></div>
      <dl class="dl-horizontal description">

        <dt><%= t 'events.event.title' %>: </dt>
        <dd><%= event.title %></dd>

        <dt><%= t 'events.event.language' %>: </dt>
        <dd><%= event.language.description %></dd>

        <dt><%= t 'events.event.max_members' %>: </dt>
        <dd><%= event.max_members %> / <%= event.memberships.count %></dd>

        <dt>
          <%= t 'events.event.starts_at' %>:
        </dt>
        <dd>
          <span class="label label-default wday_<%= event.starts_at.wday %>"><%= event.starts_at.strftime('%a') %></span>
          <%= I18n.l event.starts_at, format: ("%b %d") %>,
          <%= t ('events.event.starts_at') %>
          <%= I18n.l event.starts_at, format: ("%H:%M") %>
        </dd>

      </dl>
    </div>
    <!-- /.user-block -->
    <div class="box-tools">
      <button class="btn btn-flat btn-sm" style="background: none;">
        <%= image_tag(event.language.flag_image.url(:micro), class: 'flag-micro') if  event.language.flag_image? %>
      </button>
      <!--<button type="button" class="btn btn-sm" data-widget="remove" style="background: none;"><i class="fa fa-times"></i></button>-->
    </div>
    <!-- /.box-tools -->
    <button type="button" class="btn btn-sm" data-widget="collapse" style="background: none;">
      <%= t('event_memberships.event_description') %>
      <i class="fa fa-plus"></i>
    </button>
  </div> <!-- /.box-header -->

  <div class="box-body">
    <!-- post text -->
    <%= markdown(event.description) %>
  </div><!-- /.box-body -->

  <div class="overlay hidden">
    <i class="fa fa-refresh fa-spin"></i>
  </div>

  <div class="box-footer">
    <% if user_signed_in? %>
    <span id="event_like_btn_<%= event.id %>" class="like-btn">
      <%= render partial: 'events/like_btn', locals: {event: event} %>
    </span>
        <% if !past_events %>
          <% if current_user.member_of?(event) %>
              <%= link_to leave_event_path(event), class: 'btn btn-danger', method: :delete, data: { confirm: t('are_you_sure') } do %>
                  <i class="fa fa-minus-square-o"></i> <%= t'events.leave' %>
              <% end %>
          <% else %>
              <%= link_to join_event_path(event), class: 'btn btn-default', method: :post do %>
                  <i class="fa fa-plus-square-o"></i> <%= t'events.join' %>
              <% end %>
          <% end %>
        <% end %>
    <% end %>

    <%= link_to show_members_event_memberships_path(event), class: 'btn btn-default load-members-btn', remote: true, data: {event_id: event.id} do %>
        <i class="fa fa-users"></i>
        <%= t('events.show_members') %>
    <% end %>

    <%= link_to_unless_current('<i class="fa fa-map-marker"></i> Посмотреть на карте'.html_safe, event_path(event), class: 'btn btn-default') do
    end %>



    <span class="pull-right text-muted">
      <%= link_to 'Show', event, class: 'btn btn-xs btn-default' %> |
          <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-xs btn-primary' %> |
          <%= link_to 'Destroy', event, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: t('are_you_sure')} %>
          <!--  <%= t('events.likes', count: event.likers(User).count) %> -
      <%= t('events.joined', count: event.memberships.count) %>-->
    </span>
  </div>
  <!-- /.box-footer -->
  <script id="eventLikeBtnTemplate" type="text/x-handlebars-template">
    <a class="btn {{btn_class}} like-btn" data-remote="true" rel="nofollow" data-method="{{method}}" href="{{link}}">
      <i class="fa fa-thumbs-o-up"></i> {{likers_count}} Like
    </a>
  </script>
</div>