<li>
  <div class="pull-left user-block col-xs-2">
    <%= show_profile_img(activity.owner, 'small', "bg-maroon", "", false) %>
  </div>
  <div class="col-xs-10">
    <%= render partial: 'shared/notifications/header', locals: { activity: activity } %>
    <p>
      <% if activity.trackable %>
          <%= t'notifications.feedback.liked_feedback' %> <%= link_to (t'notifications.feedback.feedback'), feedback_path(activity.trackable) %>
      <% else %>
          <%= t'notifications.feedback.liked_feedback_which_has_since_been_removed' %>
      <% end %>
    </p>
    <p class="clearfix"></p>
  </div>
</li>