<li class="dropdown notifications-menu">
  <!-- Menu toggle button -->
  <%= link_to notifications_path, id: "get-notifications", class: "dropdown-toggle", remote: true, format: :html, data: { toggle: "dropdown" } do %>
      <i class="fa fa-bell-o"></i>
      <span class="label label-warning"><%= current_user.notices_count if current_user.notices_count != 0 %></span>
  <% end %>
  <ul class="dropdown-menu" style="width: 340px;">
    <!--<li class="header">Notifications</li>-->
    <li class="box" style="border-top: 0px; margin-bottom: 1px;">
      <ul class="menu">
        <%= render partial: 'activities/notifications', locals: {activities: @activities} if @activities%>
      </ul>
      <div class="overlay hidden">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </li>

    <li class="footer">
      <%= link_to activities_path do %>
          <i class="fa fa-hourglass-3"></i> <span><%= t 'sidebar_navigation.activities' %></span>
      <% end %>
    </li>
  </ul>
</li>
